.bottom{
    background-color: #023154;
    .footer{
        padding: 49px 27px;
        color: #FFFFFF;
        display: flex;
        // align-items: center;
        justify-content: space-between;
        // gap: 107px;
        .one{
            img.logo{
                // background-color: #023154;
                // color: #FFFFFF;
                width: 150px;
                height: 50px;
                filter: brightness(0) invert(1);
            }
            p{
                margin: 16px 0;
                width: 286px;
                font-weight: 400;
                font-size: 14px;
                line-height: 149%;
            }
            .social{
                a{
                    text-decoration: none;
                }
                img{
                    margin-right:25px ;
                }
                
            }
            .num{
                margin-top: 42.31px;
                // align-items: center;
                a{
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 18px;
                    color: #FFFFFF;
                    padding: 14pxs;
                    
                    &::before{
                        content: url(../image/index/call.svg);
                        margin-right: 14.53px;
                    }
                }
            }

        }
        // .twoo{
        //     display: flex;
        //     gap: 140px;
        // }
        .li-a{
            list-style-type: none;
            margin: 0 5px;
            i{display: none;}
            h2{
                color: #FFFFFF;
                margin-bottom: 8px;
                font-weight: 700;
                font-size: 16px;
                line-height: 120%;
            }
            a{
                margin: 8px 0;
                text-decoration: none;
                font-weight: 500;
                font-size: 14px;
                line-height: 149%;
                color: #F1F1F1;
            }
            a:hover{
                color:#93A1AF;
                padding-left: 1px;

            }
        }
        
    }
    .cr{
        padding-bottom: 20px;
        margin-top: 19px;
        font-weight: 400;
        font-size: 13px;
        display: flex;
        justify-content: center;
        color: #93A1AF;
    }
}