// service doctors emergency

@media only screen and (max-width: 767px){
    .serve{
        display: block;
        margin: 0;
        padding: 0;
        // max-width: 360px;

        .img{
            padding: 24px 20px;
            .img{
                min-width: 320px;
                height: 266px;
                border-radius: 12px;
            }
        }

        .service{
            h1{
                font-size: 28px;
                font-weight: 700;
                line-height: normal;
            }
            h1 , p {
                padding: 0 20px;
            }
            .search-box{
                max-width: 360px;
                border-radius: 0px;
                // padding: 0 20px;
                .links{
                    border-bottom: none;
                    cursor: pointer;
                    a:hover{
                        border-bottom: none;
                        padding: 0;
                    }
                    li{
                        display: contents;
                        .findoc{
                        color: #FFFFFF;
                        font-size: 12px;
                        font-weight: 700;
                        }
                        .fa-solid{
                            display: block;
                            color: #FFFFFF;
                            font-size: 12px;
                        }
                    }

                }
                .search{
                    display: block;
                    

                    .search-bar{
                        max-width: 320px;
                        margin: 0 20px;
                    }
                    .search-btn{
                        max-width: 320px;
                        .btn{
                        width: 100%;
                        margin: 16px 20px 22px 20px;
                        font-size: 14px;
                        font-weight: 500;
                        height: 42px;
                        
                        }
                    }
                    .search_control{
                        font-weight: 400;
                        font-size: 14px;
                        width: 260px;
                    }
                }
            }
        }
    }

    // doctors media-query starts here 
    // doctors media-query starts here 

    .doctors{

        .headings{
            margin: 4px 20px;
            // padding: 20px;
            .view-all{
                display: none;
            }
            .h-con{
                margin: 4px 0;
                h1{
                    font-size: 22px;
                    font-weight: 700;
                }
                p{
                    font-size: 12px;
                    font-weight: 500;
                }

            }
        }
        .specialist{
            display: grid;
            grid-template-columns: 1fr 1fr;

            .service{
                // pointer-events: none;

                img{ 
                width: 88px;
                height: 96px;
                margin: 20px 0 8px 0 ;
                }
                h2{
                    font-weight: 700;
                    font-size: 14px;
                    margin-bottom: 2px;
                }
                a{
                    font-weight: 500;
                    font-size: 12px;
                    margin: 5px 0;
                }
            }
        }
        
    }

    // emergency media query 
    // emergency media query 

    
    .emergency{
        margin: 0;
        padding: 0 20px;
        .view-all-m{
            margin: 0;
        }    
        .heading{
            margin-top: 37px;
            .h-con h1{
                font-weight: 700;
                font-size: 22px;
                text-align: left;
                max-width: 280px;
                margin: 10px 0;
            }

            .view-all{
                display: none;
            }
        } 
        
        .vehicle{
            margin: 10px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;
            .four{
                display: block;
            }
            .ambulance{
                padding: 0;
                border: none;
                background: white;
                .cover-img{
                    width: 152px;
                    border-radius: 4px;
                }
                a{
                    border-bottom: none;
                    font-weight: 700;
                    font-size: 14px;
                    text-align: center;
                    color: #04518C;
                    margin: 6px 0;
                }
                .benifits{
                    display: none;
                }


            }
        }

    }

    .diagonostic{
        .headings{
            margin: 20px;
            .h-con{
                margin-top: 28px;
                h1{
                    font-size: 22px;
                    font-weight: 700;
                }
                p{
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
        .machines{
            margin: 0;
            .service{
                margin: 10px 0;
                padding: 0;

                .fifth-img{
                    margin-top: 12px;
                }

                img{margin: 0;
                    width: 98px;
                    height: 88px;
                }
                h2{
                    font-weight: 700;
                    font-size: 14px;
                    text-align: center;
                    color: #023154;
                    margin: 12px 0 5px 0;
                }
                a{ 
                    font-size: 12px;
                    color: #078FF7;
                }
            }
        }

    }
    
    .why-ss{
        .y-seba{
            // margin-top:64px;
            padding:0 20px;
            margin: 64px 0 32px 0;

            h1{
                font-weight: 700;
                font-size: 22px;
            }
            p{
                font-weight: 500;
                font-size: 14px;
            }
        .main-container{
            margin: 20px 0;
            .yimg{
                width: 31px;
                height: 29px;
            }
            p{
                margin: 0 32px;
                font-weight: 400;
                font-size: 14px;
            }
            .two, .three{
                display: none;
            }

            .img-name{
                margin: 10px 32px 20px 32px;
            }
        }
        }
    }

    .news {
        
        .n-o-e{
            margin: 64px 0;
            padding: 0 20px;
            .bar{
                display: block;
                text-decoration: none;
                background: #FFFFFF;
                border: 1px solid #D0D3D6;
                width: 320px;
                // height: 52px;
                margin: 20px 0;
                // text-align: center;
                .one{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 12.5px;
                    font-weight: 700;
                    font-size: 14px;
                    // text-align: center;
                    color: #04518C;
                    h3{
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
            }
            h1{
                font-weight: 700;
                font-size: 22px;
            }
            .links{
                display: none;
            }

            .container{
                .con-one{
                    display: none;
                }
                .con-two{
                    border: none;
                    padding: 0;
                    // background: white;
                    height: auto;
                    overflow: visible;

                    .article{
                        display: block;
                        margin: 20px 0;
                        img{
                            margin: 0;
                            width: 320px;
                            height: 134px;
                        }
                        .dates{
                            h2{
                                font-weight: 700;
                                font-size: 14px;
                                margin: 12px 0 8px 0;
                            }
                            span{
                                font-weight: 400;
                                font-size: 12px;
                                margin: 20px 0;
                            }
                        }
                    }
                }
            }
            .plus{
                background: white;
                i{
                    color: #078FF7;
                }
            }
            .btn{
                margin: 16px 0;
                button{
                    border: none;
                    max-width: 320px;
                    width: 100%;
                    height: 42px;
                    padding: 0;
                    font-size: 14px;
                    font-weight: 500;
                }
            }  
        }
    }
}